* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #000428, #004e92);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Container */
.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  margin-top: 40px;
}

/* Profile */
.profile {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile h2 {
  margin-top: 10px;
}

.profile p {
  opacity: 0.8;
}

/* Links */
.links a {
  position: relative;
  display: block;
  background: #ffffff;
  color: #000;
  text-decoration: none;
  padding: 14px 50px 14px 20px;
  margin: 12px 0;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.links a i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.links a:hover {
  background: #00ffcc;
  color: #000
}


/* Footer */
.footer {
  margin-top: auto;
  padding: 1px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  
}
